<!-- <h1>This is in the template {{animal}}</h1> -->

<!-- {{questions.[1].title}}
{{questions.[1].answer}} -->

{{#each questions}}

<h4>{{title}}</h4>
<ul>
  <li>{{answer}}</li>
</ul>

<button id="right" class="btn btn-secondary">Got it right!</button>
<button id="wrong" class="btn btn-secondary">Next time</button>
{{/each}}
