<!-- <h1>This is in the template {{animal}}</h1> -->

<!-- {{questions.[1].title}}
{{questions.[1].answer}} -->

{{#each questions}}

<h4>{{title}}</h4>
<ul>
  <li>{{answer}}</li>
</ul>

<button id="right" class="btn btn-info">Got it right!</button>
<button id="wrong" class="btn btn-info">Next time</button>
{{/each}}

<h5> Statistic </h5>

<table style="width:100%">
  <tr>
    <th>Easy</th>
    <th>Medium</th>
    <th>Hard</th>
  </tr>
  <tr>
    <td>45</td>
    <td>50</td>
    <td>5</td>
  </tr>

</table>
